html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

#App-Grid {
  background-color: #fff;
  margin: auto;
  padding: 3% 0 0 5%;
}

.app-title {
  color: #fff;
}

#App-Sidebar {
  background-image: linear-gradient(to bottom,#075769, #000 );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100%;
  min-width: 275px;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
}

.sidebar-help-messages {
  font: 36px Arial ;
  color: #fff;
}

.sidebar-counter {
  font-size: 4em;
  color: #fff;
}

.circle-counter-number {
  font-size: 2em;
}

.circle-counter-cr {
  font-size: 1.2em;
  word-wrap: none;
}

.sidebar-users {
  color: #fff;
}

ul.active-users {
  color: #000;
}
