html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

#App {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#App-Grid {
    background-color: #fff;
    margin: 0 auto;
    padding: 2% 0 5000px 5%;
    margin-bottom: -5000px;
}

.app-title {
    color: #fff;
}

#App-Sidebar {
    background-image: linear-gradient(to bottom, rgb(2, 143, 143), #4169e1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    margin-bottom: -5000px;
    padding: 2% 5% 5000px 5%;
    text-align: center
}

.sidebar-help-messages {
    font: 36px Arial;
    color: #fff;
}

.sidebar-counter {
    font-size: 4em;
    color: #fff;
}

.circle-counter-number {
    font-size: 2em;
}

.circle-counter-cr {
    font-size: 1.2em;
    word-wrap: none;
}

.sidebar-users {
    color: #fff;
}

ul.active-users {
    color: #000;
}

.active-users .list-group-item div.badge {
    float: left;
    padding-right: 2%;
}

.user-icon {
    position: absolute;
    margin-left: -50px;
    color: #fff;
    margin-top: -5px;
}


/* MODAL STYLES */

div[role="dialog"].fade.in.modal {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 5%;
}

.modal-alert-wrapper {
    text-align: center;
}

.modal-alert-wrapper .tutorial {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.modal-alert-wrapper .no-circles-remaining {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
}

.modal-alert-wrapper .occupied-circle {
    padding: 5%;
}

.modal-alert-wrapper .tutorial div {
    padding: 5%;
}

@media only screen and (max-width: 768px) {
    #App {
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
}